# editorconfig.org
root = true

[*]
charset                  = utf-8
end_of_line              = lf
indent_size              = 4
indent_style             = space
insert_final_newline     = true
max_line_length          = 80
tab_width                = 4
trim_trailing_whitespace = true

[**.spec]
max_line_length          = unset

[**/_service]
indent_size              = 2

[**/_servicedata]
indent_size              = unset
insert_final_newline     = unset
max_line_length          = unset

[**/cargo_config]
insert_final_newline     = false

[**.tar.xz]
charset                  = unset
end_of_line              = unset
indent_size              = unset
indent_style             = unset
insert_final_newline     = unset
max_line_length          = unset
tab_width                = unset
trim_trailing_whitespace = unset

[.github/workflows/*.yaml]
indent_size              = 2

[**/.osc/**]
indent_size              = unset
max_line_length          = unset

[LICENSE]
indent_size              = unset
